[commit]
    template = ~/.git-commit-template
[core]
    editor = vim -c'norm! ggj'
	preloadindex = true
	fscache = true
	autocrlf = true
[gc]
	auto = 256
[include]
    path = .gitconfig.local
[merge]
	tool = kdiff3
[alias]
	graph = log --oneline --graph
[user]
	name = Mark Pitman
	email = mark@pitman.io
