[user]
    email = mark@pitman.io
    name = Mark Pitman
[commit]
    template = ~/.git-commit-template
[core]
    editor = vim -c'norm! ggj'
    preloadindex = true
    fscache = true
[gc]
	auto = 256
[include]
    path = .gitconfig.local
[merge]
	tool = kdiff3
[alias]
	graph = log --oneline --graph
[pull]
    rebase = false
[include]
    path = ~/.gitconfig.local
[includeIf "gitdir:~/src/work/"]
    path = .gitconfig-work

